@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @if (User?.Identity != null && User.Identity.IsAuthenticated)
    {
        <h1 class="display-4">Welcome</h1>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Employee" asp-action="Create">Add Employee</a>
        </li>
    }
    
</div>
